# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.unity-spectrogram.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\derek\Documents\GitHub\unity-spectrogram\.idea\.idea.unity-spectrogram\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
